/* Media */
/* Elements */
/* Common styles */
/* Variables */
:root {
  --tambar-adminbar-size: var( --wp-admin--admin-bar--height );
  --tambar-switch-size: calc( var( --tambar-adminbar-size ) * 1 );
  --tambar-switch-color: #2c3338;
  --tambar-animation-function: ease;
  --tambar-animation-time: .25s;
}

/* Any media */
html {
  transition: margin var(--tambar-animation-function) var(--tambar-animation-time);
  /** Visible */
  /* Hidden */
}
html #tambar-switcher {
  background-color: var(--tambar-switch-color);
  width: var(--tambar-switch-size);
  height: var(--tambar-switch-size);
  cursor: pointer;
  position: fixed;
  top: var(--tambar-adminbar-size);
  left: var(--tambar-switch-size);
  transition: transform var(--tambar-animation-function) var(--tambar-animation-time);
  z-index: 99999;
  /* First icon layer */
}
html #tambar-switcher > span {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform var(--tambar-animation-function) var(--tambar-animation-time);
  /* Second icon layer */
}
html #tambar-switcher > span::after {
  content: "";
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  width: 100%;
  height: 100%;
  position: absolute;
}
html #wpadminbar {
  position: fixed;
  transition: transform var(--tambar-animation-function) var(--tambar-animation-time);
}
html:has(body.tambar-hidden) {
  margin-top: 0 !important;
}
html:has(body.tambar-hidden) #tambar-switcher {
  transform: translateY(calc(0px - var(--tambar-adminbar-size)));
}
html:has(body.tambar-hidden) #tambar-switcher > span::after {
  transform: rotate(180deg);
}
html:has(body.tambar-hidden) #wpadminbar {
  transform: translateY(-100%);
}

/* Desktop */
@media only screen and (min-width: 782px) {
  html:has(body.tambar-desktop-bottom) {
    margin-top: 0 !important;
    margin-bottom: var(--tambar-adminbar-size);
    /* Visible */
    /* Hidden */
  }
  html:has(body.tambar-desktop-bottom) #tambar-switcher {
    top: unset;
    bottom: var(--tambar-adminbar-size);
  }
  html:has(body.tambar-desktop-bottom) #tambar-switcher > span {
    transform: rotate(180deg);
  }
  html:has(body.tambar-desktop-bottom) #wpadminbar {
    top: unset;
    bottom: 0;
  }
  html:has(body.tambar-desktop-bottom) #wpadminbar .ab-sub-wrapper {
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(calc(-100% - var(--tambar-adminbar-size)));
  }
  html:has(body.tambar-desktop-bottom):has(body.tambar-hidden) {
    margin-bottom: 0 !important;
  }
  html:has(body.tambar-desktop-bottom):has(body.tambar-hidden) #wpadminbar {
    transform: translateY(100%);
  }
  html:has(body.tambar-desktop-bottom):has(body.tambar-hidden) #tambar-switcher {
    transform: translateY(var(--tambar-adminbar-size));
  }
  html:has(body.tambar-desktop-switcher-right) #tambar-switcher {
    right: var(--tambar-switch-size);
    left: unset;
  }
}
/* Mobile */
@media only screen and (max-width: 782px) {
  html:has(body.tambar-mobile-bottom) {
    margin-top: 0 !important;
    margin-bottom: var(--tambar-adminbar-size);
    /* Visible */
    /* Hidden */
  }
  html:has(body.tambar-mobile-bottom) #tambar-switcher {
    top: unset;
    bottom: var(--tambar-adminbar-size);
  }
  html:has(body.tambar-mobile-bottom) #tambar-switcher > span {
    transform: rotate(180deg);
  }
  html:has(body.tambar-mobile-bottom) #wpadminbar {
    top: unset;
    bottom: 0;
  }
  html:has(body.tambar-mobile-bottom) #wpadminbar .ab-sub-wrapper {
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(calc(-100% - var(--tambar-adminbar-size)));
  }
  html:has(body.tambar-mobile-bottom):has(body.tambar-hidden) {
    margin-bottom: 0 !important;
  }
  html:has(body.tambar-mobile-bottom):has(body.tambar-hidden) #wpadminbar {
    transform: translateY(100%);
  }
  html:has(body.tambar-mobile-bottom):has(body.tambar-hidden) #tambar-switcher {
    transform: translateY(var(--tambar-adminbar-size));
  }
  html:has(body.tambar-mobile-switcher-right) #tambar-switcher {
    right: var(--tambar-switch-size);
    left: unset;
  }
}/*# sourceMappingURL=tambar.css.map */